@import 'foundation';

* {
  box-sizing:border-box;
}

html {
  font-size:10px;
}

body {
  font-family:"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

nav.top-bar {
  background-color:#333;
  height: 6rem;
  line-height: 6rem;
  position: relative;

  span.logo {
    background: transparent url('../img/sa_logo_tm-reverse-2x-sm.png') no-repeat left top;
    background-size:contain;
    display: block;
    height:1.95rem;
    width:50%;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    left:1.5rem;
  }
}


.button {
  &.custom {
    background-color: #ff851f;
    border: solid #e56800 0.1rem;
    color: #fff; 
    font-size:1.3rem;
    font-weight:bold;

    &:hover {
      background-color: #eb6b00;    
    }   
  }
}// .button



#myModal {
  h2 {
    top: 1.5rem;
    position: relative;    
  }
}


form {
  h5 {
    font-size:1.6rem;
    font-weight:bold;
    font-family: "Lucida Grande","Lucida Sans",Verdana,Geneva,sans-serif;
    color: #344e67;
  }

  input[type="text"],
  select {
    height:3.7rem;
    font-size:1.4rem;
  }

  a.button.expand {
    font-size:1.6rem;
    font-weight:bold;
  }
}

[data-abide] .error small.error {
  background-color: #c60f13;
  padding: 2px;
  font-size:1.4rem;
  font-style: normal;
}

.cookie-image {
  width:6.3rem;
  height:6.3rem;
  display: inline-block;
  background: transparent no-repeat left top;

  &.advice {
    background-image: url('../img/icon-advice.png');
    background-size:contain;
  }

  &.reviews {
    background-image: url('../img/icon-reviews.png');
    background-size:contain;
  }  
}



